// IMPORT FONT
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

// CSS CODE
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.row .col-md-4 {
  padding: 10px;
  border-radius: 20px;
}
.col-md-4 {
  width: 33.33%;
}
.d-flex {
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.align-items-center {
  align-items: center;
}
.btn-primary {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 4px;
  background-color: #ffc90d;
  color: #000 !important;
  font-family: inherit;
  font-size: 14px;
  font-stretch: normal;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  gap: 6px;
}
.ml-1 {
  margin-left: 10px;
}
.ml-2 {
  margin-left: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.search-form-body {
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  width: clamp(200px, 25vw, 300px);
  height: 48px;
  display: inline-flex;
}
.search-form {
  width: 100%;
  height: 100%;
  padding: 0 24px 0 48px;
  border-radius: 9999999px;
  outline: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  background: #f4f5fb;
  border: none;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  color: #6e6d7a;
}
.container-gallery {
  padding: 20px 60px;
  width: 100%;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    margin-right: 30px;
  }
}
.scrolling-wrapper-flexbox {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.mt-galery {
  margin-top: 30px;
}
.gallery-box {
  width: 300px;
  height: 250px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.position-relative {
  position: relative;
}
.galery-body {
  z-index: 2;
  align-items: flex-end;
  padding: 30px;
  transition: opacity 300ms ease;
  border-radius: 15px;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  font-size: 16px;
  color: #fff;
  width: 100%;
  opacity: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(62%, transparent),
    color-stop(63.94%, rgba(0, 0, 0, 0.00345888)),
    color-stop(65.89%, rgba(0, 0, 0, 0.014204)),
    color-stop(67.83%, rgba(0, 0, 0, 0.0326639)),
    color-stop(69.78%, rgba(0, 0, 0, 0.0589645)),
    color-stop(71.72%, rgba(0, 0, 0, 0.0927099)),
    color-stop(73.67%, rgba(0, 0, 0, 0.132754)),
    color-stop(75.61%, rgba(0, 0, 0, 0.177076)),
    color-stop(77.56%, rgba(0, 0, 0, 0.222924)),
    color-stop(79.5%, rgba(0, 0, 0, 0.267246)),
    color-stop(81.44%, rgba(0, 0, 0, 0.30729)),
    color-stop(83.39%, rgba(0, 0, 0, 0.341035)),
    color-stop(85.33%, rgba(0, 0, 0, 0.367336)),
    color-stop(87.28%, rgba(0, 0, 0, 0.385796)),
    color-stop(89.22%, rgba(0, 0, 0, 0.396541)),
    color-stop(91.17%, rgba(0, 0, 0, 0.4))
  );
}
.gallery-box:hover .galery-body {
  opacity: 1;
}
.fadeIn-bottom {
  top: 80%;
}
.galery-body .title-body {
  position: absolute;
  bottom: 14px;
}
.bookmark-box {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  color: #000;
  line-height: 31px;
  cursor: pointer;
}
.bookmark-box .top-tooltip-text {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  width: 90px;
  padding: 1px 10px;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -50px;
}
.bookmark-box .top-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.bookmark-box:hover .top-tooltip-text {
  visibility: visible;
}
.footer {
  width: 100%;
  padding: 20px 50px;
  background: #000;
  text-align: center;
  margin-top: 60px;
  color: #fff;
  border-bottom: 3px solid #ffc90d;
}
.search-box {
  box-shadow: 0 1px 12px -1px rgb(141 145 162 / 25%);
  position: absolute;
  width: 100%;
  background: #fff;
  top: 58px;
  z-index: 9999;
  padding: 13px;
  border-radius: 10px;
}
.search-title {
  padding: 6px 10px;
  cursor: pointer;
}
.search-title:hover {
  background: #f7f7f7;
  transition: 0.3s;
  border-radius: 4px;
}
.scroll-dropdown {
  height: 310px;
  overflow-y: scroll;
}
.no-result {
  padding: 1px;
  font-style: italic;
  color: gray;
  text-align: center;
}
.header {
  width: 100%;
  padding: 15px 50px;
}
.second-header {
  width: 100%;
  padding: 15px 50px;
  background: #000;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.hw-logo {
  width: 60px;
  height: 55px;
  background: #000;
  border-radius: 5px;
  text-align: center;
  line-height: 90px;
}
.hw-logo-title {
  font-family: "DM Serif Display", serif;
  font-size: 28px;
}
.star-rating-checkbox {
  position: absolute;
  overflow: hidden;
  height: 1px;
}

.star-rating {
  font-size: 18px;
  color: #fff;
}
.star-rating.is-selected {
  color: #ffd700;
}
.mr-star {
  margin-right: 5px;
}
.mt-rating {
  margin-top: 3px;
}
.slider:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #121212, hsla(0, 0%, 100%, 0) 100%);
}
.slider ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slider li {
  display: none;
}
.slider li.active {
  display: block;
}
.slider li.active img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.button-slider.left {
  width: 50px;
  height: 50px;
  left: 60px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  background: #fff;
  border: none;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 0 1px 12px -1px rgba(141, 145, 162, 0.25);
}
.button-slider.right {
  width: 50px;
  height: 50px;
  right: 60px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  background: #fff;
  border: none;
  font-size: 30px;
  border-radius: 30px;
  box-shadow: 0 1px 12px -1px rgba(141, 145, 162, 0.25);
}
.slider-title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
  color: #ffff;
}
.ml-button {
  margin-left: 3px;
}

// RESPONSIVE
@media (max-width: 576px) {
  .no-flex {
    display: block !important;
  }
  .m-mt-1 {
    margin-top: 10px;
  }
  .m-mt-2 {
    margin-top: 20px;
  }
  .header {
    padding: 15px 20px;
  }
  .second-header {
    padding: 15px 20px;
  }
  .search-form-body {
    width: 100%;
  }
  .justify-content-center {
    justify-content: center;
  }
  .m-center {
    text-align: center;
  }
  .slider-title {
    font-size: 35px;
  }
  .button-slider.left {
    left: 20px;
  }
  .button-slider.right {
    right: 20px;
  }
  .gallery-box {
    width: 160px;
    height: 160px;
  }
  .container-gallery {
    padding: 10px 20px;
  }
  .galery-body {
    padding: 16px;
    font-size: 14px;
  }
  .star-rating {
    font-size: 12px;
  }
  .mt-galery {
    margin-top: 40px;
  }
  .footer {
    margin-top: 40px;
  }
}
